
MiddleTier/.vs/Horizon4/v15/.suo
*.ide
MiddleTier/GF/bin/
MiddleTier/GF/obj/
MiddleTier/GFDataEditor/GF/bin/
MiddleTier/GFDataEditor/GF/obj/
MiddleTier/Sandpit/bin/
MiddleTier/Sandpit/obj/
MiddleTier/GF.Build/bin/
MiddleTier/GF.Build/obj/